@mixin transition-animation($propertes) {
    transition-property: $propertes;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin animation-hover($name) {
    animation-name: $name;
    animation-duration: 250ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}